body {
  width: 800px;
  margin: 2em auto 0;
}

main {
  min-height: 100vh;
}

.header {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  margin-bottom: 2em;
}

.table-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.filters-box {
  padding: 1em 2em;
  border: 1px solid var(--text-main);
  border-radius: 0.5em;
}

.footer {
  margin-top: 1em;
  padding: 2em 2em;
  background: var(--background);
  font-style: italic;
}
